#body
{
    color: red;
    text-align: center;
   font-family: Courier;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
color:white;
font-family: Courier;
/*border:solin;*/
padding: 50px;
background-color: blue;
box-shadow: rgb(7,6,11) 3px 3px 20px ;
border-radius:10px;
background: -webkit-linear-gradient(top, #333333);


}

#cabecera #tagline
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    font-family: Courier;
    padding: 1em;
    text-align: left;
    border: 1px solid #333333;
    margin: 0 auto;
}



#Containerh1
{
    font-size: 20px;
}

#footer{
    background: violet;
    color: black;
    text-align: center;
    padding: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}