#body
{
    color: red;
    text-align: center;
   font-family: Courier;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
color:black;
font-family: Courier;
/*border:solin;*/
padding: 50px;
background-color: white;
box-shadow: rgb(7,6,11) 5px 5px 25px ;
border-radius:10px;
background: -webkit-linear-gradient(top, #333333);

/8outline: 2px dashed #000;parte del codigo que nos sirve para hacer lineas puntiadas estilo "recortes"
outline-offset:15px;*/
}

#cabecera #tagline
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    font-family: Courier;
    padding: 1em;
    text-align: left;
    border: 1px solid #333333;
    margin: 0 auto;
}



#Containerh1
{
    font-size: 20px;
}